#Countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family:Haettenschweiler;
}
#button-container{
    text-align: center;
}
.button{
    width: 100px;
    height: 30px;
    font-size: 17px;
    cursor: pointer;
    background-color: aqua;
    transition: backgroung-color 0.25;
}
.button:hover{
    background-color: rgb(118, 179, 179);
}